In [1]:
import datetime

import pandas as pd

df = pd.DataFrame({'HomeTeam': ['HOU', 'CHI', 'DAL', 'HOU'],
                   'AwayTeam' : ['CHI', 'DAL', 'CHI', 'DAL'],
                   'HomeGameNum': [1, 2, 2, 2],
                   'AwayGameNum' : [1, 1, 3, 3],
                   'Date' : [datetime.date(2014,3,11), datetime.date(2014,3,12),
                             datetime.date(2014,3,14), datetime.date(2014,3,15)]})

In [2]:
df

   AwayGameNum AwayTeam        Date  HomeGameNum HomeTeam
0            1      CHI  2014-03-11            1      HOU
1            1      DAL  2014-03-12            2      CHI
2            3      CHI  2014-03-14            2      DAL
3            3      DAL  2014-03-15            2      HOU

In [3]:
df['Date'] = pd.to_datetime(df.Date)

In [7]:
tidy = (df.reset_index()
           .rename(columns=dict(index='game_number'))
           .pipe(pd.melt, id_vars=['game_number', 'Date'],
                  value_vars=['AwayTeam', 'HomeTeam'])
            .sort_values(by='game_number'))

In [8]:
tidy

   game_number       Date  variable value
0            0 2014-03-11  AwayTeam   CHI
4            0 2014-03-11  HomeTeam   HOU
1            1 2014-03-12  AwayTeam   DAL
5            1 2014-03-12  HomeTeam   CHI
2            2 2014-03-14  AwayTeam   CHI
6            2 2014-03-14  HomeTeam   DAL
3            3 2014-03-15  AwayTeam   DAL
7            3 2014-03-15  HomeTeam   HOU

In [9]:
tidy.groupby('value').Date.apply(lambda x: x.diff() - pd.Timedelta(days=1)).to_frame(name='rest')

    rest
0    NaT
4    NaT
1    NaT
5 0 days
2 1 days
6 1 days
3 0 days
7 3 days